click==7.1.2
gensim==4.0.1
google==3.0.0
google-api-core==1.31.0
google-api-python-client==2.14.0
google-auth==1.33.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
google-search==1.1.1
googleapis-common-protos==1.53.0
h11==0.9.0
httpcore==0.11.1
httplib2==0.19.1
httptools==0.2.0
httpx==0.15.4
python-crfsuite==0.9.7
python-dateutil==2.8.2
python-engineio==3.13.2
python-Levenshtein==0.12.2
python-socketio==5.0.0
rasa==2.4.0
rasa-sdk==2.8.1
requests==2.25.1
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
spacy==2.2.4
spacy-langdetect==0.1.2
spacy-legacy==3.0.8
spacy-pkuseg==0.0.28
StackAPI==0.2.0
