Flask==2.0.1
Flask-Cors==3.0.10
gensim==4.0.1
google==3.0.0
google-api-core==1.31.0
google-api-python-client==2.14.0
google-auth==1.33.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
google-search==1.1.1
googleapis-common-protos==1.53.0
Jinja2==3.0.1
pymongo==3.10.1
rasa==2.4.0
rasa-sdk==2.8.1
scipy==1.7.0
spacy==2.2.4
spacy-langdetect==0.1.2
spacy-legacy==3.0.8
spacy-pkuseg==0.0.28
StackAPI==0.2.0
