body, html, div, p, span, a, h1, h2, h3, h4, h5{
	margin 				: 0;
	padding 			: 0;
}

body, html{	
	width 				: 100%;
}

body{
/*	background 			: url('../images/bkgd.png') repeat top left;*/
	color 				: white;
	font-family 		: tahoma;
	font-weight 		: lighter;
/*	padding-top 		: 40px;*/
}

	body p{
		font-size 		: 8px;
	}
	
		body p a{
			font-size	: 8px;
		}

h1 {
	color 				: #E05E00;	
	font-style 			: italic;
}

a{
	color 				: #E05E00;	
	text-decoration		: none;
}

a:hover{
	text-decoration		: underline;
}

/* general */
.clear {
	clear: both;
}

/* Header */
.brand{
	color 				: #E05E00 !important;	
	font-family 		: georgia;
	font-style 			: italic;
}

/* list stuff */
#org{
	background-color 	: white;
	margin 				: 10px;
	padding 			: 10px;
}

#show-list{
	cursor 				: pointer;
}

/* bootstrap overrides */
.alert-message{
	margin: 2px 0;
}

.topbar{
	position 			: absolute;
}

/* Custom chart styling */
.jOrgChart {
  margin                : 10px;
  padding               : 20px;
}

/* Custom node styling */
.jOrgChart .node {
	font-size 			: 14px;
	background-color 	: #5D478B;
	border-radius 		: 8px;
	border 				: 5px solid white;
	color 				: white;
	-moz-border-radius 	: 8px;
    
    min-width: 100px;
    width: auto;
    height: 30px;
    max-width:  100%;
    display: inline-flex;
    align-items: center;
    justify-content:  center;
    padding: 5px;
}

.node p{
    font-family 	: tahoma;
    font-size 		: 8px;
    line-height 	: 8px;
    padding 		: 2px;
    text-align:center;
}

.box{
    line-height: 50px;
    text-align:center;
}

.score{
    font-size: 8px;
    color: white;
    padding: 5px;
}
