/* ========== Custom Google Login Button ========== */
#gSignInWrapper {
    margin-top: 20px;
    margin-bottom: 10px;
}

#google-login-btn {
    display: inline-block;
    background: white;
    color: #838B8B;
    ;
    width: 90%;
    height: 10%;
    border-radius: 5px;
    border: solid white;
    box-shadow: 0px 0px 3px 2px #cccccc;
}

#google-login-btn:hover {
    cursor: pointer;
}

span.buttonText {
    display: inline-block;
    font-size: small;
    font-weight: bold;
    vertical-align: middle;
    /* Use the Roboto font that is loaded in the <head> */
    font-family: 'Roboto', sans-serif;
}

/* ========== Facebook Login Button ========== */
.facebook-login {
    margin-top: 10px;
    margin-bottom: 20px;
    justify-content: center;
}

#facebook-login-btn {
    display: inline-block;
    background: #3A5FCD;
    color: white;
    width: 90%;
    height: 10%;
    border: solid #3A5FCD;
    white-space: nowrap;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 2px #cccccc;
}

#manager-login-btn {
    display: inline-block;
    background: #5b2f61;
    color: white;
    width: 90%;
    height: 10%;
    border: solid #5b2f61;
    white-space: nowrap;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 2px #cccccc;
    margin-top: 10px;
    margin-bottom: 20px;
    justify-content: center;
    font-size: small;
    font-weight: bold;
}

#inputUser {
    display: inline-block;
    width: 90%;
    height: 10%;
    justify-content: center;
}

#inputPassword {
    display: inline-block;
    width: 90%;
    height: 10%;
    justify-content: center;
}

#facebook-login-btn:hover {
    cursor: pointer;
    /*
    background: rgb(30, 118, 255);
    color: white;
    border: solid rgb(30, 118, 255);
*/
}

/* login.html -> Roboto css*/
/* css for custom google login button font*/
/* <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css"> */
/* cyrillic-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    height: 100vh;
    /*    overflow: auto;*/
    background-image: linear-gradient(to right top, #a06bd1, #905db3, #7f4f96, #6d437b, #5a3762, #5a3461, #5b3061, #5b2c60, #6f2d77, #832d8e, #972ba7, #ac27c0);
}