input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('../../../../images/search.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  background-size: 15px 15px;
  padding: 5px 20px 5px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
}