.title{
    color: #505458;
}

.purpleLabel{
/*    cursor: pointer;*/
	background-color: #5D478B;
	color: white;
}

.purpleLabel2{
/*    cursor: pointer;*/
    border: 1px solid #5D478B;
	color: #5D478B;
}

a .purpleLabel {
    cursor: pointer;
}

a .purpleLabel2 {
    cursor: pointer;
}

button .purpleLabel {
    cursor: pointer;
}

button .purpleLabel2 {
    cursor: pointer;
}

.pagination {
  display: inline-block;
  float: right;
}

.pagination2 {
  display: inline-block;
  float: left;
}

.pagination a,.pagination2 a {
  color: 505458;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  border-radius: 25px;
}

.pagination a:hover,.pagination2 a:hover {
  background-color: #5D478B;
  color: white;
  border: 1px solid #5D478B;
  border-radius: 25px;
}

.pagination a.active,.pagination2 a.active {
  background-color: #5D478B;
  color: white;
  border: 1px solid #5D478B;
  border-radius: 25px;
}

.hideScrollBar::-webkit-scrollbar {
  display: none;
}

.labelXBtn{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color:white;
}

.purpleBtn{
    background-color: #5D478B; float: right; 
    border-radius: 5px; 
}

.purpleBtnInChatroom{
    background-color: #5D478B;
    border-radius: 5px; 
    width: 70px;
    height: 35px;
    display: inline-block;
    margin: 3px;
}


.scoreBtn{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color:#5D478B;
}

.scoreBtn:hover{
    color:skyblue;
}
