<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="description" content="CodedThemes">
        <meta name="keywords" content=" Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
        <meta name="author" content="CodedThemes">
        <!-- Favicon icon -->
        <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
        <!-- Google font-->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
        <!-- Required Fremwork -->
        <link rel="stylesheet" type="text/css" href="../static/assets/css/bootstrap.min.css">
        <!-- font-awesome.css -->
        <link rel="stylesheet" type="text/css" href="../static/assets/css/font-awesome.css">
        <!-- themify-icons line icon -->
        <link rel="stylesheet" type="text/css" href="../static/assets/css/themify-icons.css">
        <!-- ico font -->
        <link rel="stylesheet" type="text/css" href="../static/assets/css/icofont.css">
        <!-- Style.css -->
        <link rel="stylesheet" type="text/css" href="../static/assets/css/style.css">
        <link rel="stylesheet" type="text/css" href="../static/assets/css/jquery.mCustomScrollbar.css">
        <link rel="stylesheet" type="text/css" href="../static/assets/css/pages/menuBarCSS/menuBar.css">
        <!-- highlight程式碼 START -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/atelier-forest-light.min.css">
        
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
<!--        <script>hljs.highlightAll();</script>-->
        <!-- highlight程式碼 END -->
        <link rel="stylesheet" type="text/css" href="../static/assets/css/pages/profileCSS/custom.css">
        

    
    </head>
    <body>
        
        <!-- Multiple Open Accordion start -->
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-header-text">所有答案排行</h5>
                </div>
                <div class="card-block accordion-block">
                    <div id="accordion" role="tablist" aria-multiselectable="true">
                        
                
        
                    </div>
                </div>
            </div>
        </div>
<!-- Multiple Open Accordion ends -->
        
    <script type="text/javascript" src="../static/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/assets/js/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../static/assets/js/popper.min.js"></script>
    <script type="text/javascript" src="../static/assets/js/bootstrap.min.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="../static/assets/js/jquery-slimscroll/jquery.slimscroll.js"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="../static/assets/js/modernizr/modernizr.js"></script>
    <script type="text/javascript" src="../static/assets/js/modernizr/css-scrollbars.js"></script>
    <!-- classie js -->
    <script type="text/javascript" src="../static/assets/js/classie/classie.js"></script>
    <!-- Accordion js -->
    <script type="text/javascript" src="../static/assets/js/pages/summaryJS/accordion.js"></script>
    <!-- Custom js -->
    <script type="text/javascript" src="../static/assets/js/pages/summaryJS/script.js"></script>
    <script src="../static/assets/js/pcoded.min.js"></script>
    <script src="../static/assets/js/demo-12.js"></script>
    <script src="../static/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="../static/assets/js/pages/comprehensiveJS/comprehensive.js"></script>
</body>