<!DOCTYPE html>
<html lang="en">

<head>
    <title>Edit Post Question</title>
    <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="CodedThemes">
    <meta name="keywords"
    content=" Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="CodedThemes">
    <!-- Google font--><link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="../static/assets/css/bootstrap.min.css">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="../static/assets/css/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="../static/assets/css/icofont.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="../static/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/assets/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" type="text/css" href="../static/assets/css/pages/profileCSS/custom.css">
    <!-- font-awesome -->
    <link rel="stylesheet" type="text/css" href="../static/assets/css/font-awesome.css">
</head>

<body style="background: white;">
<!--    <button onclick="click_tag('Ren&lsquo;Py', '1')">Ren'Py</button>-->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
            <div class="pcoded-wrapper">
                <div class="pcoded-inner-content">
                    <!-- Main-body start -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- Page body start -->
                            <div class="page-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <!-- Basic Form Inputs card start -->
                                        <div class="card">
                                            <div class="card-block">
                                                <form>
                                                    <!-- 貼文標題 row start -->
                                                    <div class="form-group row">
                                                        <label class="col-sm-2 col-form-label">貼文標題</label>
                                                        <div class="col-sm-10">
                                                            <input id="title" type="text" class="form-control"
                                                            value="">
                                                        </div>
                                                    </div>
                                                    <!-- 貼文標題 row end -->  
                                                    <!-- 貼文內容 row start -->
                                                    <div class="form-group row">
                                                        <label class="col-sm-2 col-form-label">貼文內容</label>
                                                        <div class="col-sm-10">
                                                            <textarea id="question" rows="5" cols="5" class="form-control"></textarea>
                                                        </div>
                                                    </div>
                                                    <!-- 貼文內容 row end -->
                                                    <input class="btn btn-primary purpleBtn" value="儲存" onclick="save()" style="width: 150px;">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Page body end -->
                        </div>
                    </div>
                    <!-- Main-body end -->
                    <div id="styleSelector"></div>
                </div>                                            
            </div>                                    
        </div>
                                        <!-- Warning Section Starts -->
                                        <!-- Older IE warning message -->
<!--[if lt IE 9]>
<div class="ie-warning">
    <h1>Warning!!</h1>
    <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers
        to access this website.</p>
    <div class="iew-container">
        <ul class="iew-download">
            <li>
                <a href="http://www.google.com/chrome/">
                    <img src="assets/images/browser/chrome.png" alt="Chrome">
                    <div>Chrome</div>
                </a>
            </li>
            <li>
                <a href="https://www.mozilla.org/en-US/firefox/new/">
                    <img src="assets/images/browser/firefox.png" alt="Firefox">
                    <div>Firefox</div>
                </a>
            </li>
            <li>
                <a href="http://www.opera.com">
                    <img src="assets/images/browser/opera.png" alt="Opera">
                    <div>Opera</div>
                </a>
            </li>
            <li>
                <a href="https://www.apple.com/safari/">
                    <img src="assets/images/browser/safari.png" alt="Safari">
                    <div>Safari</div>
                </a>
            </li>
            <li>
                <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                    <img src="assets/images/browser/ie.png" alt="">
                    <div>IE (9 & above)</div>
                </a>
            </li>
        </ul>
    </div>
    <p>Sorry for the inconvenience!</p>
</div>
<![endif]-->
<!-- Warning Section Ends -->
<!-- Required Jquery -->
<script type="text/javascript" src="../static/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/assets/js/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="../static/assets/js/popper.min.js"></script>
<script type="text/javascript" src="../static/assets/js/bootstrap.min.js"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="../static/assets/js/jquery-slimscroll/jquery.slimscroll.js"></script>
<!-- modernizr js -->
<script type="text/javascript" src="../static/assets/js/modernizr/modernizr.js"></script>
<script type="text/javascript" src="../static/assets/js/modernizr/css-scrollbars.js"></script>
<!-- classie js -->
<script type="text/javascript" src="../static/assets/js/classie/classie.js"></script>
<!-- Custom js -->
<script type="text/javascript" src="../static/assets/js/script.js"></script>
<script src="../static/assets/js/pcoded.min.js"></script>
<script src="../static/assets/js/demo-12.js"></script>
<script src="../static/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="../static/assets/js/common.js"></script>
<script src="../static/assets/js/pages/editPostJS/editPost.js"></script>
</body>

</html>
