<!DOCTYPE html>
<html lang="en">

<head>
    <title> Posts </title>
    <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
      <!-- Meta -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="description" content="CodedThemes">
      <meta name="keywords" content=" Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
      <meta name="author" content="CodedThemes">
      <!-- Google font-->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
      <!-- Required Fremwork -->
      <link rel="stylesheet" type="text/css" href="../static/assets/css/bootstrap.min.css">
      <!-- themify-icons line icon -->
      <link rel="stylesheet" type="text/css" href="../static/assets/css/themify-icons.css">
      <!-- ico font -->
      <link rel="stylesheet" type="text/css" href="../static/assets/css/icofont.css">
      <!-- Style.css -->
      <link rel="stylesheet" type="text/css" href="../static/assets/css/style.css">
      <link rel="stylesheet" type="text/css" href="../static/assets/css/jquery.mCustomScrollbar.css">
      <link rel="stylesheet" type="text/css" href="../static/assets/css/pages/profileCSS/custom.css">
      <link rel="stylesheet" type="text/css" href="../static/assets/css/pages/postRowCSS/postRowCSS.css">
      <link rel="stylesheet" type="text/css" href="../static/assets/css/font-awesome.css">
  </head>

  <body style="background: white;">
      <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="ball-scale">
            <div class='contain'>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
            </div>
        </div>
    </div>
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-wrapper">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <div class="page-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <!-- 貼文列表 start -->
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="card-header-left">
                                                <div class="title">FAQs列表</div>
                                             </div>
                                            <!-- 翻頁 start-->
                                                <div class="pagination card-header-right" style="float: right;">
                                                    <a href="#" onclick="editPageNum('-1')">❮</a>
                                                    <a href="#" onclick="editPageNum('1')">❯</a>
                                                </div>
                                                <!-- 翻頁 end-->
                                            
                                            <div class="card-header-right">
                                                <i class="icofont icofont-spinner-alt-5"></i>
                                            </div>
                                            
                                            <div style="margin-top: 20px;">
                                                <input id="searchText" type="text" name="search" placeholder="Search..">
<!--                                                <button style="margin-top: 5px; display: inline-block;" class="btn btn-outline-secondary btn-sm" onclick="search('new')">搜尋</button>-->
                                            </div>
                                            <!--tags篩選貼文start-->
                                            <div>
<!--                                            <div data-toggle="tooltip" data-placement="top" data-original-title="點我篩選標籤" style="display: inline;">-->
                                            <i type="button" class="fa fa-tags fa-lg scoreBtn" aria-hidden="true" data-toggle="modal" data-target="#exampleModal" style="margin-top: 20px; display: inline-block;"></i>
                                            <span style="display: inline-block;">選擇相關標籤</span>
                                            </div> 
                                            <!--tags篩選貼文end-->
                                            
                                            
                                            <!--已選標籤-->
                                            <div id="chosen_tag"></div>
                                            
                                            <!-- 貼文排序 START -->
                                            <div>
<!--                                            <div data-toggle="tooltip" data-placement="top" data-original-title="點我篩選標籤" style="display: inline;">-->
                                            <i type="button" class="fa fa-filter fa-lg scoreBtn" aria-hidden="true" data-toggle="modal" data-target="#exampleModal2" style="margin-top: 20px; display: inline-block;"></i>
                                            <span style="display: inline-block;" id="optionText">貼文排序 | 依分數高低</span>
                                            </div>
                                            <!-- 貼文排序 END -->
                                        </div>
                                        <div class="card-block">
                                            <div class="row" id="post">
                                                <!--貼文1 start-->
                                                <div class="col-lg-4 col-xl-3 col-sm-12" >
                                                    <!-- 貼文連結start -->
                                                    <a href="#" onclick="setPage('444', 'mySinglePostFrame')">
                                                        <div class="badge-box">
                                                            <!-- 貼文編號與分數start -->
                                                            <div class="sub-title">
<!--                                                                <i class="fa fa-trash-o fa-lg" aria-hidden="true" style="color: red;"></i>-->
                                                                <span>貼文 #00001</span>
                                                                <span style="float:right;"><i class="fa fa-trophy" aria-hidden="true"></i>5</span>
                                                            </div>
                                                            <!-- 貼文編號與分數end -->
                                                            <!-- 貼文標題start -->
                                                            <div>
                                                            <span>連不上 server</span>
                                                            </div>
                                                            <!-- 貼文標題end -->
                                                            <div style="margin-top: 20px;">
                                                                <!-- tag start-->
                                                                <label class="badge badge-default purpleLabel">html</label>
                                                                <label class="badge badge-default purpleLabel">javascript</label>
                                                                <label class="badge badge-default purpleLabel">css</label>
                                                                <!-- tag end-->
                                                                <!-- 貼文日期start -->
                                                                <div>
                                                                <label class="badge purpleLabel2">2021 - 09 - 08</label>
                                                                </div>
                                                                <!-- 貼文日期end -->
                                                                
                                                            </div>
                                                            
                                                        </div>
                                                        
                                                    </a>
                                                    <!-- 貼文連結end -->
                                                </div>
                                                <!--貼文1 end-->
                                                
                                                
                                                
                                            </div>
                                        </div>
                                    <!-- 貼文列表 end -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="styleSelector"></div>
                    </div>
                </div>
            </div>
        </div>
      </div>
<!-- 選標籤視窗 START-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"> 
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">選擇相關標籤</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>    
      <div class="modal-body">     
          <!-- 興趣標籤 START -->
<!--
          <div style="margin-top: 15px;" id="interestingTags">
              <i class="fa fa-certificate" aria-hidden="true" style="color: #5D478B;"></i>
              <span style="font-size: 20px;">興趣標籤</span>
          </div>
-->
          <div id="forwardPage">
          </div>
          <div id="chose_tag" style="margin-top: 5px;">
          </div>
          
          <div id="chosen_tag_in_modal" style="margin-top: 15px;">
          </div>
          <!-- 興趣標籤 END -->
      </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" onclick="searchByTags('new')" data-dismiss="modal">搜尋</button>
        </div>
    </div>
  </div>
</div>
<!-- 選標籤視窗 END-->
      
<!-- 選擇貼文排序視窗 START -->
      <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content"> 
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel2">選擇貼文如何排序</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>    
                  <div class="modal-body">     
                      <div>
                          <input type="radio" name="postSort" id="radioScore" checked>
                          <label class="form-check-label" for="radioScore">
                              依分數排序
                          </label>
                      </div>
                      <div>
                          <input type="radio" name="postSort" id="radioViews">
                          <label class="form-check-label" for="radioViews">
                              依觀看次數排序
                          </label>
                      </div>
                      <div class="form-check">
                          <input type="radio" name="postSort" id="radioTime">
                          <label class="form-check-label" for="radioTime">
                              依日期排序
                          </label>
                      </div>
                  </div>
                  
                  <div class="modal-footer">
                      <button class="btn btn-secondary" onclick="changeSort()" data-dismiss="modal">確認</button>
                  </div>
              </div>
          </div>
      </div>
<!-- 選擇貼文排序視窗 END -->
        <!-- Warning Section Starts -->
        <!-- Older IE warning message -->
    <!--[if lt IE 9]>
<div class="ie-warning">
    <h1>Warning!!</h1>
    <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
    <div class="iew-container">
        <ul class="iew-download">
            <li>
                <a href="http://www.google.com/chrome/">
                    <img src="assets/images/browser/chrome.png" alt="Chrome">
                    <div>Chrome</div>
                </a>
            </li>
            <li>
                <a href="https://www.mozilla.org/en-US/firefox/new/">
                    <img src="assets/images/browser/firefox.png" alt="Firefox">
                    <div>Firefox</div>
                </a>
            </li>
            <li>
                <a href="http://www.opera.com">
                    <img src="assets/images/browser/opera.png" alt="Opera">
                    <div>Opera</div>
                </a>
            </li>
            <li>
                <a href="https://www.apple.com/safari/">
                    <img src="assets/images/browser/safari.png" alt="Safari">
                    <div>Safari</div>
                </a>
            </li>
            <li>
                <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                    <img src="assets/images/browser/ie.png" alt="">
                    <div>IE (9 & above)</div>
                </a>
            </li>
        </ul>
    </div>
    <p>Sorry for the inconvenience!</p>
</div>
<![endif]-->
<!-- Warning Section Ends -->
<!-- Required Jquery -->
<script type="text/javascript" src="../static/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/assets/js/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="../static/assets/js/popper.min.js"></script>
<script type="text/javascript" src="../static/assets/js/bootstrap.min.js"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="../static/assets/js/jquery-slimscroll/jquery.slimscroll.js"></script>
<!-- modernizr js -->
<script type="text/javascript" src="../static/assets/js/modernizr/modernizr.js"></script>
<!-- am chart -->
<script src="../static/assets/js/pages/profileJS/widget/amchart/amcharts.min.js"></script>
<script src="../static/assets/js/pages/profileJS/widget/amchart/serial.min.js"></script>
<!-- Todo js -->
<script type="text/javascript " src="../static/assets/js/pages/profileJS/todo/todo.js "></script>
<!-- Custom js -->
<script type="text/javascript" src="../static/assets/js/pages/profileJS/dashboard/custom-dashboard.js"></script>
<script type="text/javascript" src="../static/assets/js/script.js"></script>
<!--<script type="text/javascript " src="../static/assets/js/SmoothScroll.js"></script>-->
<script src="../static/assets/js/pcoded.min.js"></script>
<script src="../static/assets/js/demo-12.js"></script>
<script src="../static/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="../static/assets/js/pages/postRowFrameJS/postRowFrame.js"></script>
<script src="../static/assets/js/common.js"></script>
</body>

</html>
