<!DOCTYPE html>
<html>
    <head>
        
    </head>
    
    <body>
        <h1>PQABot</h1>
        <div id="content">
        
        </div>
        <form>
            <input class="form-control mr-sm-2" type="text" id="user_input" name="name" placeholder="請輸入...">
            
            <button id="sendButton" type="button" class="btn btn-outline-info" onclick="send_to_bot()">送出</button>
        </form>
        
         <!-- jQuery CDN - Slim version (=without AJAX) -->
        <script src="/Users/linxiangling/Desktop/專題/PQAbot/static/assets/js/jquery-3.5.1.js"></script>
        <!-- Popper.JS -->
        <script src="/Users/linxiangling/Desktop/專題/PQAbot/static/assets/js/popper.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="/Users/linxiangling/Desktop/專題/PQAbot/static/assets/js/bootstrap.min.js"></script>

        <!--my script-->
        <script src="/Users/linxiangling/Desktop/專題/PQAbot/static/assets/js/PQABot.js"></script>
        
    </body>

</html>