<!DOCTYPE html>
<html lang="en">

<head>
    <title>Posts</title>
    <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="CodedThemes">
    <meta name="keywords" content=" Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="CodedThemes">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="../static/assets/css/bootstrap.min.css">
    <!-- font-awesome.css -->
    <link rel="stylesheet" type="text/css" href="../static/assets/css/font-awesome.css">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="../static/assets/css/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="../static/assets/css/icofont.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="../static/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/assets/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" type="text/css" href="../static/assets/css/pages/menuBarCSS/menuBar.css">
</head>

<body style="overflow: hidden;">
    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="ball-scale">
            <div class='contain'>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
            </div>
        </div>
    </div>

    
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">

            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">

                    <!-- PSABot START -->
                    <div class="navbar-logo" style="background-color: #5D478B;">
                        <!-- PSABot右邊展開縮起的按鈕 -->
                        <a class="mobile-menu" id="mobile-collapse" href="#!">
                            <i class="ti-menu"></i>
                        </a>
                        
                        <!-- 好像沒啥用 -->
<!--
                        <a class="mobile-search morphsearch-search" href="#">
                            <i class="ti-search"></i>
                        </a>
-->
                        <a href="index.html">
                            <img class="img-fluid" style="height: 50px;" src="../static/images/baymax.png" alt="PSAbotLogo">
                            <span>PSABot</span>
                        </a>
                        
                        <!-- 好像沒啥用 -->
<!--
                        <a class="mobile-options">
                            <i class="ti-more"></i>
                        </a>
-->
                    </div>
                    <!-- PSABot END -->
                    
                    <!-- 中間白色的 START -->
                    <div class="navbar-container container-fluid">
                        <!-- 全螢幕 -->
                        <ul class="nav-left">
                            <li>
                                <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
                            </li>

                            <li>
                                <a href="#!" onclick="javascript:toggleFullScreen()">
                                    <i class="ti-fullscreen"></i>
                                </a>
                            </li>
                            <li style="margin-top: 25px;"><h5>貼文列表</h5></li>
                        </ul>
                        
                        <!-- 通知＆個人頭像 -->
                        <ul class="nav-right">
                            <li class="header-notification">
                                <a href="#!">
                                    <i class="ti-bell"></i>
                                    <!-- 新通知粉色的那個 -->
                                    <span class="badge bg-c-pink"></span>
                                </a>
                                <ul class="show-notification">
                                    <li>
                                        <h6>通知</h6>
                                        <label class="label label-danger">新的</label>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <img class="d-flex align-self-center" src="../static/images/jackson.png" alt="Generic placeholder image">
                                            <div class="media-body">
                                                <h5 class="notification-user">易烊千璽</h5>
                                                <p class="notification-msg">您的貼文有新的回覆</p>
                                                <span class="notification-time">30分鐘前</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <img class="d-flex align-self-center" src="../static/images/person_4.jpg" alt="Generic placeholder image">
                                            <div class="media-body">
                                                <h5 class="notification-user">王俊凱</h5>
                                                <p class="notification-msg">王俊凱傳送了共同討論的邀請給您</p>
                                                <span class="notification-time">40分鐘前</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <img class="d-flex align-self-center" src="../static/images/person_5.jpeg" alt="Generic placeholder image">
                                            <div class="media-body">
                                                <h5 class="notification-user">王源</h5>
                                                <p class="notification-msg">王源傳送了共同討論的邀請給您</p>
                                                <span class="notification-time">45分鐘前</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="user-profile header-notification">
                                
                                <img src="../static/images/jackson.png" class="img-radius" alt="User-Profile-Image">
                                <span>易烊千璽</span>
                                 
                                
                            </li>
                        </ul>

                    </div>
                    <!-- 中間白色的 END -->
                    
                </div>
            </nav>
            
            
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    
                    <nav class="pcoded-navbar">
                        <div class="sidebar_toggle">
                            <a href="#">
                                <i class="icon-close icons"></i>
                            </a>
                        </div>
                        
                        <div class="pcoded-inner-navbar main-menu" style="display: inline-block">
                            <div class="">
                                <div class="main-menu-header">
                                    <img class="img-40 img-radius" src="../static/images/jackson.png" alt="User-Profile-Image">
                                    <div class="user-details">
                                        <span>易烊千璽</span>
                                        <span id="more-details">一般使用者</span>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="pcoded-navigatio-lavel" data-i18n="nav.category.navigation">頁面</div>
                            <ul class="pcoded-item pcoded-left-item">
                                <li class="">
                                    <a href="index.html">
                                        <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">首頁</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                
                                <li class="">
                                    <a href="index.html">
                                        <span class="pcoded-micon"><i class="fa fa-user-o" aria-hidden="true"></i><b>D</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">個人頁面</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                
                                <li class="">
                                    <a href="index.html">
                                        <span class="pcoded-micon"><i class="fa fa-file-text-o" aria-hidden="true"></i><b>D</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">發布貼文</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                
                                <li class="">
                                    <a href="index.html">
                                        <span class="pcoded-micon"><i class="fa fa-eye" aria-hidden="true"></i></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">瀏覽貼文</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                
                                
                                <li class="" style="position: fixed; bottom: 10px; display: block;">
                                    <a href="index.html">
                                        <button class="btn btn-outline" style="width: 230px; background-color: #5D478B;">
                                            <i class="fa fa-sign-out" aria-hidden="true" style="color: white;"></i>
                                            <span data-i18n="nav.dash.main" style="color: white;">登出</span>
                                        </button>
                                    </a>
                                </li>
                                
                            </ul>
                            
                        </div>
                    </nav>
                    
                    
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <div class="row" style="height:600px;">
                                        <div class="col-9">
                                            <!-- 個人頁面 start -->
                                            <iframe id="idIframe" src="postRowFrame.html" height="100%" width="100%" frameBorder="0"></iframe>
                                            <!-- 個人頁面 end -->
                                        </div>
                                        
                                        <!-- 聊天室列表 START -->
                                        <div class="col-3">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="card-header-text">聊天室列表</h5>
                                                </div>
                                                <div class="card-block accordion-block">
                                                    <div id="accordion" role="tablist" aria-multiselectable="true">
                                                        <div class="accordion-panel">
                                                            <div class="accordion-heading" role="tab" id="headingOne">
                                                                <h3 class="card-title accordion-title">

                                                                    <a class="accordion-msg" href="#">
                                                                    <img src="../static/images/baymaxChat.png" class="chatImg">
                                                                    PSABot
                                                                    </a>
                                                                </h3>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-block accordion-block">
                                                    <div id="accordion" role="tablist" aria-multiselectable="true">
                                                        <div class="accordion-panel">
                                                            <div class="accordion-heading" role="tab" id="headingOne">
                                                                <h3 class="card-title accordion-title">
                                                                    <a class="accordion-msg" href="#">
                                                                    <img src="../static/images/person_3.jpg" class="chatImg">
                                                                    宋亞軒
                                                                    </a>
                                                                </h3>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-block accordion-block">
                                                    <div id="accordion" role="tablist" aria-multiselectable="true">
                                                        <div class="accordion-panel">
                                                            <div class="accordion-heading" role="tab" id="headingOne">
                                                                <h3 class="card-title accordion-title">
                                                                    <a class="accordion-msg" href="#">
                                                                    <img src="../static/images/person_1.jpeg" class="chatImg">
                                                                    劉耀文
                                                                    </a>
                                                                </h3>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- 聊天室列表 END -->
                                        
                                        <!-- 聊天室視窗 START -->
                                        <div class="card chatWindow" id="chatroom" style="width: 400px;">
                                            
                                            <!-- 聊天室的header START -->
                                            <div class="card-header" style="background-color: #5D478B; padding: 15px;">
                                                <div class="" style="color: white; font-size: 20px;">
                                                    PSAbot
                                                </div>
                                            </div>
                                            <!-- 聊天室的header END -->
                                            
                                            <!-- 聊天室的body START -->
                                            <div class="card-block accordion-block" style="height: 300px; overflow-y: scroll;">
                                                <div class="card-body msg_card_body" id="history_message">
                                                </div>
                                            </div>
                                            <!-- 聊天室的body END -->

                                            <!-- 聊天室的footer START -->
                                            <div class="card-footer" style="padding: 0;">
                                                <div class="card-footer" class="type_message">
                                                    <div class="input-group">
                                                        <textarea name="" class="form-control type_msg" placeholder="輸入..." id="message"></textarea>

                                                        <button class="input-group-text send_btn" onclick=send_message()>
                                                            <div class="input-group-append">
                                                                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                                            </div>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- 聊天室的footer END -->

                                        </div>
                                        <!-- 聊天室視窗 END -->
                            
                                        
                                        <!-- 正在聊天的頭像 START -->
                                        <div>
                                            <img src="../static/images/baymaxChat.png" class="rounded-circle scaled_img chatIng" onclick="open_close()">
                                        </div>
                                        <!-- 正在聊天的頭像 END -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>      
                </div>            
            </div>
        </div>
    </div>
<!-- Main-body end -->
<!-- Warning Section Starts -->
<!-- Older IE warning message -->
<!--[if lt IE 9]>
<div class="ie-warning">
    <h1>Warning!!</h1>
    <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers
        to access this website.</p>
    <div class="iew-container">
        <ul class="iew-download">
            <li>
                <a href="http://www.google.com/chrome/">
                    <img src="assets/images/browser/chrome.png" alt="Chrome">
                    <div>Chrome</div>
                </a>
            </li>
            <li>
                <a href="https://www.mozilla.org/en-US/firefox/new/">
                    <img src="assets/images/browser/firefox.png" alt="Firefox">
                    <div>Firefox</div>
                </a>
            </li>
            <li>
                <a href="http://www.opera.com">
                    <img src="assets/images/browser/opera.png" alt="Opera">
                    <div>Opera</div>
                </a>
            </li>
            <li>
                <a href="https://www.apple.com/safari/">
                    <img src="assets/images/browser/safari.png" alt="Safari">
                    <div>Safari</div>
                </a>
            </li>
            <li>
                <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                    <img src="assets/images/browser/ie.png" alt="">
                    <div>IE (9 & above)</div>
                </a>
            </li>
        </ul>
    </div>
    <p>Sorry for the inconvenience!</p>
</div>
<![endif]-->
<!-- Warning Section Ends -->
<!-- Warning Section Starts -->
<!-- Older IE warning message -->
<!--[if lt IE 9]>
<div class="ie-warning">
    <h1>Warning!!</h1>
    <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers
        to access this website.</p>
    <div class="iew-container">
        <ul class="iew-download">
            <li>
                <a href="http://www.google.com/chrome/">
                    <img src="assets/images/browser/chrome.png" alt="Chrome">
                    <div>Chrome</div>
                </a>
            </li>
            <li>
                <a href="https://www.mozilla.org/en-US/firefox/new/">
                    <img src="assets/images/browser/firefox.png" alt="Firefox">
                    <div>Firefox</div>
                </a>
            </li>
            <li>
                <a href="http://www.opera.com">
                    <img src="assets/images/browser/opera.png" alt="Opera">
                    <div>Opera</div>
                </a>
            </li>
            <li>
                <a href="https://www.apple.com/safari/">
                    <img src="assets/images/browser/safari.png" alt="Safari">
                    <div>Safari</div>
                </a>
            </li>
            <li>
                <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                    <img src="assets/images/browser/ie.png" alt="">
                    <div>IE (9 & above)</div>
                </a>
            </li>
        </ul>
    </div>
    <p>Sorry for the inconvenience!</p>
</div>
<![endif]-->
<!-- Warning Section Ends -->
    <!-- Required Jquery -->
    <script type="text/javascript" src="../static/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/assets/js/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../static/assets/js/popper.min.js"></script>
    <script type="text/javascript" src="../static/assets/js/bootstrap.min.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="../static/assets/js/jquery-slimscroll/jquery.slimscroll.js"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="../static/assets/js/modernizr/modernizr.js"></script>
    <script type="text/javascript" src="../static/assets/js/modernizr/css-scrollbars.js"></script>
    <!-- classie js -->
    <script type="text/javascript" src="../static/assets/js/classie/classie.js"></script>
    <!-- Accordion js -->
    <script type="text/javascript" src="../static/assets/js/pages/summaryJS/accordion.js"></script>
    <!-- Custom js -->
    <script type="text/javascript" src="../static/assets/js/pages/summaryJS/script.js"></script>
    <script src="../static/assets/js/pcoded.min.js"></script>
    <script src="../static/assets/js/demo-12.js"></script>
    <script src="../static/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="../static/assets/js/pages/menuBarJS/menuBar.js"></script>
</body>
</html>
