<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="description" content="CodedThemes">
        <meta name="keywords" content=" Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
        <meta name="author" content="CodedThemes">
        
        <!-- Favicon icon -->
        <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
        <!-- Google font-->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
        <!-- Required Fremwork -->
        <link rel="stylesheet" type="text/css" href="../static/assets/css/bootstrap.min.css">
        <!-- font-awesome.css -->
        <link rel="stylesheet" type="text/css" href="../static/assets/css/font-awesome.css">
        <!-- themify-icons line icon -->
        <link rel="stylesheet" type="text/css" href="../static/assets/css/themify-icons.css">
        <!-- ico font -->
        <link rel="stylesheet" type="text/css" href="../static/assets/css/icofont.css">
        <!-- Style.css -->
        <link rel="stylesheet" type="text/css" href="../static/assets/css/style.css">
        <link rel="stylesheet" type="text/css" href="../static/assets/css/jquery.mCustomScrollbar.css">
        <link rel="stylesheet" type="text/css" href="../static/assets/css/pages/menuBarCSS/menuBar.css">
        <!-- highlight程式碼 START -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/atelier-forest-light.min.css">
        
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
<!--        <script>hljs.highlightAll();</script>-->
        <!-- highlight程式碼 END -->
        <link rel="stylesheet" type="text/css" href="../static/assets/css/pages/profileCSS/custom.css">
        

    
    </head>
    <body>
        
        <div class="col-lg-6">
            <div class="card">
                <div style="padding: 15px;" id="stackoverflowQuestion">
                    <span style="font-size: 25px; font-weight: bold; width: auto; color: #505458;">
                        stackoverflow文章的標題
                        <span style="float: right;">
                            <i class="fa fa-trophy" aria-hidden="true" style="font-size: 10px; color: #505458;"></i>
                            <span style="font-size: 10px; color: #505458;"> 30</span>
                        </span>
                    </span>
                    
                    
                    <br>
                    <br>
                    <a href="https://www.youtube.com/watch?v=ewmMS-5TpTg&t=344s" target="_blank" class="">點我看原文</a>
                    
                    <br>
                    <span style="font-size: 16px; font-weight: bold; width: auto; color: #505458;">摘要: 
                    </span>
                    
                    <span style="font-size: 16px; font-weight: bold; width: auto; color: #505458;">完整內容: 
                    </span>
                    <div style="margin-top: 10px">
                        <pre>
<code class="python"># Python program to find the largest number among the three input numbers
num1 = 10
num2 = 14
num3 = 12

if (num1 >= num2) and (num1 >= num3):
   largest = num1
elif (num2 >= num1) and (num2 >= num3):
   largest = num2
else:
   largest = num3

print("The largest number is", largest)
</code>
</pre>
                    </div>
                    
                    <button type="button" class="scoreBtn" style="float: right;"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></button>
                    <button type="button" class="scoreBtn" style="float: right;"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
                    
                    <span class="badge badge-default purpleLabel2" style=" background-color: white;">2021-07-02</span>
                    
                    
                </div>
                <!-- 摘要頁面回覆 START -->
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-header-text">答案排行</h5>
                    </div>
                    <div class="card-block accordion-block">
                        <div id="accordion" role="tablist" aria-multiselectable="true">
                        </div>
                    </div>
                </div>
                <!-- 摘要頁面回覆 END -->
            </div>
        </div>
        
    <script type="text/javascript" src="../static/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/assets/js/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../static/assets/js/popper.min.js"></script>
    <script type="text/javascript" src="../static/assets/js/bootstrap.min.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="../static/assets/js/jquery-slimscroll/jquery.slimscroll.js"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="../static/assets/js/modernizr/modernizr.js"></script>
    <script type="text/javascript" src="../static/assets/js/modernizr/css-scrollbars.js"></script>
    <!-- classie js -->
    <script type="text/javascript" src="../static/assets/js/classie/classie.js"></script>
    <!-- Accordion js -->
    <script type="text/javascript" src="../static/assets/js/pages/summaryJS/accordion.js"></script>
    <!-- Custom js -->
    <script type="text/javascript" src="../static/assets/js/pages/summaryJS/script.js"></script>
    <script src="../static/assets/js/pcoded.min.js"></script>
    <script src="../static/assets/js/demo-12.js"></script>
    <script src="../static/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
        
        <script src="../static/assets/js/common.js"></script>
        <script src="../static/assets/js/pages/summaryJS/summary_new.js">
        </script>
</body>