<!DOCTYPE html>
<html>

<head>
    <title>test socketio</title>
    <meta charset="utf-8">
    <!------------------------------------------------------------------------------------------------>
    <!-- Bootstrap template -->
    <!-- Bootstrap responsive meta tag-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <!-- test socket.io -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.min.js"></script>

</head>

<body>
    <!-- Container-fluid starts -->
    <div class="container" style="height: 100%;">
        <div>
            <input type="button" id="room-btn" value="join room1" onclick="join_room();">
        </div>
        <div>
            <input type="button" id="room-btn" value="join room2" onclick="join_room2();">
        </div>
        <div>
            <input type="button" id="room-btn" value="say hi" onclick="say_hi();">
        </div>
        <div>
            <input type="button" id="room-btn" value="leave" onclick="leave_room();">
        </div>
    </div>



    <!-- Required Jquery -->
    <script type="text/javascript" src="../static/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/assets/js/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../static/assets/js/popper.min.js"></script>
    <script type="text/javascript" src="../static/assets/js/bootstrap.min.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="../static/assets/js/jquery-slimscroll/jquery.slimscroll.js"></script>
    <!-- my js -->
    <script type="text/javascript" src="../static/assets/js/chat.js"></script>
</body>

</html>